<script n:syntax="off">
	/*****      FUNKCE PRO ZAKLADNI INIT MAPY              ******/
	function mainMapInit(mapId, coord_x, coord_y, zoom = 5) {
		let centerMap = SMap.Coords.fromWGS84(coord_x, coord_y);
		var mainMap = new SMap(JAK.gel(mapId), centerMap, zoom);
		mainMap.addDefaultLayer(SMap.DEF_OPHOTO).enable();
		mainMap.addDefaultLayer(SMap.DEF_BASE);

		let title = {
			title: "Posun mapy"
		};

		let compassControl = new SMap.Control.Compass(title);
		mainMap.addControl(compassControl, {
			left: "1.5%",
			top: "88px"
		});

		let zoomControl = new SMap.Control.Zoom(title);
		mainMap.addControl(zoomControl, {
			left: "1.5%",
			top: "48px"
		});

		let mouseControl = new SMap.Control.Mouse(3);
		mainMap.addControl(mouseControl);

		let syncMap = new SMap.Control.Sync();
		mainMap.addControl(syncMap);

		let layerSwitch = new SMap.Control.Layer({
			width: 65,
			items: 2,
			page: 2
		});
		layerSwitch.addDefaultLayer(SMap.DEF_BASE);
		layerSwitch.addDefaultLayer(SMap.DEF_OPHOTO);
		mainMap.addControl(layerSwitch, {
			left: "1.5%", top: "8px"
		});


		mouseControl = null;
		var controls = mainMap.getControls();

		for (var i = 0; i < controls.length; i++) {
			if (controls[i] instanceof SMap.Control.Mouse) mouseControl = controls[i];
		}

		mouseControl.configure(SMap.MOUSE_PAN | SMap.MOUSE_ZOOM);

		return mainMap;


	}
</script>

<script n:syntax="off">

	/*****      FUNKCE PRO VYTVORENI MARKERU V MAPE               ******/
	function createDomMarker(coord_x, coord_y, title = null) {
		let markerCoords = SMap.Coords.fromWGS84(coord_x, coord_y);

		let options = {title: title};

		return new SMap.Marker(markerCoords);
	}

	/*****      FUNKCE PRO VYTVORENI KARTY V MAPE               ******/
	function createCard(title, perex, link, img = null, cardHeight = 400, cardWidth = 400) {
		var card = new SMap.Card();
		card.setSize(cardWidth, cardHeight);

		card.getHeader().innerHTML = title;

		card.getBody().style.margin = "5px 0px";
		if (img) {
			card.getBody().innerHTML = "<img src='" + img + "' alt='" + title + "' style='width: 100%; height: auto;'>";
		}
		card.getBody().innerHTML += perex;
		card.getFooter().innerHTML = "<a href='" + link + "'>Více</a>";
		return card
	}


	/*****      FUNKCE PRO VYTVORENI DRAG MARKERU V MAPE               ******/
	function createDragMarker(coord_x, coord_y) {
		let markerCoords = SMap.Coords.fromWGS84(coord_x, coord_y);

		let marker = new SMap.Marker(markerCoords, null);
		marker.decorate(SMap.Marker.Feature.Draggable);

		return marker;
	}


</script>